<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopUp!</title>
    <link rel="stylesheet" href="/popup.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="topnav">
        <a class="active" href="/">Home</a>
        <a class="active" href="/beapop">Become A Popstar!</a>
        
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    </div>
        {{{body}}}
    </div>
</body>

</html>