<div class="row">
    <form action="/beapop" method="get"></form>
    <input type="text" placeholder="please enter your Name">Name
    <input type="text" placeholder="please enter your Surname">Surname
    <input type="text" placeholder="name@example.com">Email
    <input type="text" placeholder="e.g 071-234-5674">Cell Phone Number
    <button>Upload</button>

</div>