<div class="row">
    <!-- Top nav-->
    <form action="/region" method="POST">
        <div class="logo">
            <h1>POP-UPS!</h1>
        </div>
        <hr>
        <div class="ads">
            <div class="ads">

                <div><img src="cape-town.jpg" alt="cape town">
                    <h2>Cape Town</h2>
                    <p>Cape Town is a port city on South Africa’s southwest coast, on a peninsula
                        beneath the imposing Table Mountain.
                        Slowly rotating cable cars climb to the mountain’s flat top,
                        from which there are sweeping views of the city,
                        the busy harbor and boats heading for Robben Island,
                        the notorious prison that once held Nelson Mandela,
                        which is now a living museum
                    </p>
                </div>
            </div>
            <div class="ads">

                <div><img src="joburg.jpg" width="90%" alt="joburg">
                    <h2>Johannesburg</h2>
                    <p>Cape Town is a port city on South Africa’s southwest coast, on a peninsula
                        beneath the imposing Table Mountain.
                        Slowly rotating cable cars climb to the mountain’s flat top,
                        from which there are sweeping views of the city,
                        the busy harbor and boats heading for Robben Island,
                        the notorious prison that once held Nelson Mandela,
                        which is now a living museum
                    </p>
                </div>
            </div>
            <div class="ads">
                <div><img src="dbn.jpg" alt="durban">
                    <h2>Durban</h2>
                    <p>Cape Town is a port city on South Africa’s southwest coast, on a peninsula
                        beneath the imposing Table Mountain.
                        Slowly rotating cable cars climb to the mountain’s flat top,
                        from which there are sweeping views of the city,
                        the busy harbor and boats heading for Robben Island,
                        the notorious prison that once held Nelson Mandela,
                        which is now a living museum</p>
                </div>
            </div>
            <label>
        </div>
        <label>
                    <input type="radio" name="selector" value="cpt">Cape Town
                </label>
                <label>
                    <input type="radio" name="selector" value="jhb">Johannesburg
                </label>
                <label>
                    <input type="radio" name="selector" value="dbn">Durban
                </label>
                <button id='cityBtn' type="submit">Select</a></button>
    </form>
</div>