<div class="row">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
         <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    </div>
    <form action="/region" method="POST">
    <div class="logo">
     <h1>POP-UPS!</h1>
    </div>
    <hr>
        <div class="ads">
            <p>
                Cape Town is a port city on South Africa’s southwest coast, on a peninsula
                 beneath the imposing Table Mountain. 
                 Slowly rotating cable cars climb to the mountain’s flat top,
                from which there are sweeping views of the city,
                the busy harbor and boats heading for Robben Island, 
                the notorious prison that once held Nelson Mandela,
                which is now a living museum
            </p>
           
                <p>   Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Mollitia, dignissimos
                illo. Dicta facere tenetur
                nulla inci
                </p>
            
                   <p>   Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Mollitia, dignissimos
                illo. Dicta facere tenetur
                nulla inci
    </p>
                </div>
           
        <div class="pics">
         
          <a href="/cpt"><img src="cape-town.jpg"  alt="cape town"></a>
            <a href="/jhb" ><img src="joburg.jpg" alt="joburg" > </a>
            <a href="/dbn" > <img src="dbn.jpg"  alt="durban" ></a>
        </div>

        

    </form>
    <div class="popUps">
        <div>{{rentals}}</div>
        <div>{{poi}}</div>
        <div>{{finance}}</div>
    </div>

</div>