<div class="row">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
<form action="/cities" method="POST">
    <div class="cities">
        <label for="cars">Choose A City:</label>

                        <label>
                    <input type="radio" name="selector" value="english">English
                </label>
                <label>
                    <input type="radio" name="selector" value="French">French
                </label>
                <label>
                    <input type="radio" name="selector" value="Spanish">Spanish
                </label>

    </div>
</form>
    <div class="ads">
        <span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Mollitia, dignissimos 
            illo. Dicta facere tenetur
            nulla inci
        </span>
         <span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Mollitia, dignissimos 
            illo. Dicta facere tenetur
            nulla inci
        </span>
          <span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Mollitia, dignissimos 
            illo. Dicta facere tenetur
            nulla inci
        </span>
        <br>
    </div>
</div>