<div class="row">
   <form action="/rentals/jhb/houses" method="GET">
        <a href="/rentals/jhb/houses/popstars">
            <h1>PopStars!</h1>
        </a>
         <div class="ads">
            <span>
                 <img src="joburg.jpg" width="23%" alt="johannesburg">
            </span>
            <span> <img src="dbn.jpg" width="23%" alt="durban">
           
            </span>
            <span> <img src="cape-town.jpg" width="23%" alt="cape town">
           
            </span>
            <br>
        </div>
    </form>
</div>